# This file represents the ownership schema for the TTS Handbook. At the moment,
# only Markdown files are included, but other file types may be added in the
# future.
# TODO how should GitHub teams be created for ownership?

# Any changes to ownership should be approved by the Handbook owners.
CODEOWNERS                                        @18F/handbook-owners

# Every pull request to the Handbook should be seen by a member of the Tech
# Portfolio. If it is a small change, then an approval from Tech Portfolio is
# sufficient for merging. If the change is more structural, then an approval is
# _required_ from the owning team, if applicable.
*                                                 @18F/handbook-owners

##################################################
# TTS Offices
##################################################
## 18F
#_pages/18f/*                                     @18F/team-18f

## Centers of Excellence (CoE)
#_pages/centers-of-excellence/*                   @18F/team-coe

## Office of Acquisition
#_pages/acquisition/*                             @18F/team-acquisition

## Office of Operations
_pages/operations/outreach.md                     @18F/outreach
_pages/operations/blogging.md                     @18F/outreach

_pages/operations/talent.md                       @18F/team-talent

## Solutions
#_pages/solutions/*                               @18F/solutions-handbook-reviewers

##################################################
# Guilds, working groups, and councils
##################################################
_pages/about-us/diversity.md                      @AileenMcGraw-PIF
#_pages/about-us/digital-council.md               TODO

##################################################
# People Ops
##################################################
#performance-management/*                         @18F/people-ops
#_pages/getting-started/*                         @18F/people-ops
#_pages/travel-and-leave/*                        @18F/people-ops
_pages/hiring-staying-or-changing-jobs/*          @18F/team-talent
#_pages/training-and-development/*                @18F/people-ops

##################################################
# General information and policies
##################################################
_pages/about-us/*                                 @18F/handbook-owners
_pages/general-information-and-resources/*        @18f/handbook-owners

##################################################
# Tech Portfolio
##################################################
launching-software/*                              @18F/tts-tech-portfolio
_pages/redirects/*                                @18F/tts-tech-portfolio
_pages/software-and-tools/*                       @18F/tts-tech-portfolio
