---
title: Employment Verification
tags:
- letter
- employment
- verification
- verify
- verifying
- home
- purchasing
- purchase
- mortgage
- salary
- income
---

_How to get a letter verifying your employment_

## Employment Verification

All GSA employees that need employment verification must go through "The Work Number" by following the steps in [this document](https://www.gsa.gov/graphics/staffoffices/worknumber-brochure.pdf).

Requests for employment verification are often made during the home buying process.

## Income Verification

"The Work Number" is also able to provide income verification (including the options listed below).  Follow the steps in [this document](https://www.gsa.gov/graphics/staffoffices/worknumber-brochure.pdf) to authorize the system for a verifier.  

* Total salary,
* Gross earnings year-to-date,
* Overtime
* Bonuses
* Gross earnings for the prior 2 years
