---
title: Employment Verification
tags:
- letter
- employment
- verification
- verify
- verifying
- home
- purchasing
- purchase
- mortgage
- salary
- income
---

Providing verification of GSA employment and salary.

## Employment and income verification

GSA employees who need income/employment verification should direct their apartment manager/lender/potential new employer to contact Payroll at [kc-payroll.finance@gsa.gov](mailto:kc-payroll.finance@gsa.gov) or toll free at 844-303-6515.

For additional payroll information and services go to www.gsa.gov/payroll.

The information above was sourced from the [HR, Pay and Leave: Employment/Income Verification Insite page](https://insite.gsa.gov/employee-resources/hr-eeo-pay-and-leave/policies-and-resources/hr-pay-and-leave-employment-income-verification?term=the%20Work%20Number).
