---
title: Employment Verification
tags:
- letter
- employment
- verification
- verify
- verifying
- home
- purchasing
- purchase
- mortgage
---

_How to get a letter verifying your employment_

## Employment Verification

All GSA employees that need employment verification must go through "The Work Number" by following the steps [here]( <https://www.gsa.gov/graphics/staffoffices/worknumber-brochure.pdf).

Requests for employment verification are often made during the home buying process.
