---
title: Employment Verification
tags:
- letter
- employment
- verification
- verify
- verifying
- home
- purchasing
- purchase
- mortgage
- salary
- income
---

_How to provide verification of employment at GSA and salary_

## Employment Verification

All GSA employees that need employment verification must go through "The Work Number" by following the steps in [this document](https://www.gsa.gov/cdnstatic/Work_Number_Employment_Verification_Instructions.pdf).  For the [Agency Employer Code](https://www.gsa.gov/cdnstatic/Listing_of_The_Work_Number_Company_Codes_for_GSA_and_Client_Agencies.pdf), use **10536** for GSA.

Requests for employment verification are often made during the home buying process.

## Income Verification

"The Work Number" is also able to provide income verification (including the options listed below).  Follow the steps in [this document](https://www.gsa.gov/cdnstatic/Work_Number_Employment_Verification_Instructions.pdf) to authorize the system for a verifier.  

* Total salary,
* Gross earnings year-to-date,
* Overtime
* Bonuses
* Gross earnings for the prior 2 years
