<div class="usa-overlay"></div>
<header class="usa-header usa-header--extended">
  <div class="usa-nav-container">
    <div class="usa-navbar">
      <div class="usa-logo" id="extended-logo">
        <em class="usa-logo__text">
          <a href="{{ '/' | url }}" title="Home" aria-label="Home">{{ site.title }}</a>
        </em>
      </div>
      <button class="usa-menu-btn" type="button">Menu</button>
    </div>
    <nav
      id="menu-navigation"
      aria-label="Menu navigation"
      class="usa-nav"
    >
      <div class="usa-nav__inner">
        <button class="usa-nav__close" type="button">
          {% uswds_icon "close" %}
        </button>

        <ul class="usa-nav__primary usa-accordion">
          {% for item in navigation.primary %}
          <li class="usa-nav__primary-item">
            <a href="{{ item.href | url }}" class="usa-nav__link">{{ item.text }}</a>
          </li>
          {% endfor %}
        </ul>

        {% include "searchgov/form.html" searchgov: site.searchgov %}
      </div>
    </nav>
  </div>
</header>
