<div class="usa-alert usa-alert--info">
  <div class="usa-alert__body">
    <h3 class="usa-alert__heading">This is a <a href="https://atos.open-control.org/categorization/">Low</a> system</h3>
    <div class="usa-alert__text">
      This means:
      <ul>
        <li>You cannot use it to store any <a href="{{ "/sensitive-information/" | url }}">sensitive information</a></li>
        <li>It generally can't have write access to any <a href="https://atos.open-control.org/categorization/">Moderate</a> systems</li>
      </ul>
      Reach out in <a href="https://gsa-tts.slack.com/messages/infrastructure">#infrastructure</a> if you have questions.
    </div>
  </div>
</div>
