{% comment %}
You shouldn't have to edit this page very often. But if you want
to modify some of the meta-data for the site, this is the place to do it.
{% endcomment %}

<head>
  <!-- Basic Page Needs
    ================================================== -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- Mobile Specific Metas
    ================================================== -->
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Title and meta description
    ================================================== -->
  <title>{{title}}</title>
  <meta property="og:title" content="{{title}}">
  <meta name="description" content="{{description}}">
  <meta property="og:description" content="{{description}}">

  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@{{site.twitter}}">
  <meta name="twitter:title" content="{{title}}">
  <meta name="twitter:description" content="{{description}}">

  <meta property="og:type" content="article">
  <link rel="canonical" href="{{site.host}}{{ page.filePathStem }}">
  <meta property="og:url" content="{{site.host}}{{ page.filePathStem }}">
  <script async src="{% link "/assets/js/uswds-init.js" %}"></script>
  <!-- CSS
    ================================================== -->
  <link rel="preload" as="style" href="{% link "/assets/styles/styles.css" %}">
  <link
    rel="stylesheet"
    href="{% link "/assets/styles/styles.css" %}"
    type="text/css"
  >
</head>
