<!-- This code was adapted from the USWDS Summary box component. Source: https://designsystem.digital.gov/components/summary-box/ -->
<div
  class="usa-summary-box"
  role="region"
  aria-labelledby="summary-box-key-information"
>
  <div class="usa-summary-box__body">
    <h3 class="usa-summary-box__heading" id="summary-box-key-information">
      Most visited
    </h3>
    <div class="usa-summary-box__text">
      <ol class="usa-list">
        <li>
          <a class="usa-summary-box__link" href="{{ "/top-secret/" | url }}"
            >Top Secret / Sensitive Compartmented Information (TS/SCI)
            Clearance</a
          >
        </li>
        <li>
          <a
            class="usa-summary-box__link"
            href="{{ "/travel-guide-email-templates/" | url }}"
            >Travel Guide Email Templates</a
          >
        </li>
        <li>
          <a class="usa-summary-box__link" href="{{ "/google-meet/" | url }}"
            >Google Meet</a
          >
        </li>
        <li>
          <a
            class="usa-summary-box__link"
            href="{{ "/travel-and-leave/leave/" | url }}"
            >Leave</a
          >
        </li>
        <li>
          <a
            class="usa-summary-box__link"
            href="{{ "/general-information-and-resources/tech-policies/fitara/" | url }}"
            >Federal Information Technology Acquisition Reform Act (FITARA)</a
          >
        </li>
      </ol>
    </div>
  </div>
</div>
