<ol>
  {% for item in nav %}
    <li>
      {% if item.children %}
        {% if viz-promote %}
          {% assign cssLevel = level | minus: 1 %}
          {% assign cssClass = "handbook-visual-h" | append: cssLevel %}
        {% endif %}
        <h{{ level }} id="{{ item.text | slugify }}" class="{{ cssClass }}">
          {% include "nav-link.html" child:item %}
        </h{{ level }}>
        {% if item.blurb %}
          <p>{{ item.blurb }}</p>
        {% endif %}
        {% assign next_level = level | plus: 1 %}
        {% include "nav.html" level:next_level nav:item.children %}
      {% else %}
          {% include "nav-link.html" child:item %}
      {% endif %}
    </li>
  {% endfor %}
</ol>
