<ol>
  {% for item in include.nav %}
    <li>
      {% if item.children %}
        <h{{ include.level }} id="{{ item.text | slugify }}">
          {% include nav-link.html child=item %}
        </h{{ include.level }}>
        {% if item.blurb %}
          <p>{{ item.blurb }}</p>
        {% endif %}
        {% assign next_level = include.level | plus: 1 %}
        {% include nav.html level=next_level nav=item.children %}
      {% else %}
          {% include nav-link.html child=item %}
      {% endif %}
    </li>
  {% endfor %}
</ol>
