<!-- Pull in USWDS and custom js -->
<script async src="{% link "/assets/js/app.js" %}"></script>

{% if site.dap.agency %}
  <!-- Digital Analytics Program roll-up, see https://analytics.usa.gov for data -->
  <script
    id="_fed_an_ua_tag"
    src="https://dap.digitalgov.gov/Universal-Federated-Analytics-Min.js?agency={{site.dap.agency}}{% if site.dap.subagency %}&subagency={{site.dap.subagency}}{% endif %}"
  ></script>
{% endif %}

{% if site.ga.ua %}
  <!-- Google Analytics -->
  <script
    async
    src="https://www.googletagmanager.com/gtag/js?id={{ site.ga.ua }}"
  ></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());

    /**
    * `forceSSL` was used for analytics.js (the older Google Analytics script).
    * It isn't documented for gtag.js, but the term occurs in the gtag.js code;
    * figure it doesn't hurt to leave it in. -@afeld, 5/29/19
    */
    gtag("config", "{{ site.ga.ua }}", { anonymize_ip: true, forceSSL: true });
  </script>
{% endif %}

{% if site.searchgov %}
  {% if site.searchgov.suggestions == true %}
    <script>
      var usasearch_config = { siteHandle: "{{ site.searchgov.affiliate }}" };
    </script>
    <script
      async
      src="https://search.usa.gov/javascripts/remote.loader.js"
    ></script>
  {% endif %}
{% endif %}
