<div class="tablet:grid-col-3">
<aside class="sidenav" id="side-navigation" aria-label="Side navigation,">
        <ul class="usa-sidenav">
            {% for item in navigation[sidebar.navigation] %}
                <li class="usa-sidenav__item">
                    <a href="{% page item.url %}" {% if sidebar.current == item.text %}class="usa-current"{% endif%}>
                        {{ item.text }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </nav>
</aside>
</div>