<div class="usa-alert usa-alert--warning">
  <div class="usa-alert__body">
    <h3 class="usa-alert__heading">Beware of tools that aren't approved</h3>
    <p class="usa-alert__text">It is safest to assume that you cannot use any software/sites/apps that require installation or an account until you know it's <a href="{{site.baseurl}}/software/#step-2-find-or-get-an-ato">approved</a>. Ask in <a href="https://gsa-tts.slack.com/messages/infrastructure">#infrastructure</a> if you're not sure. There is <a href="{{site.baseurl}}/software/#free-and-open-source-development-packages">an exception for free and open source development packages</a>.</p>
  </div>
</div>
