<ul class="usa-nav__primary usa-accordion">
    {% for item in navigation.primary %}
      {% if item.children and item.topnavcondense ==false %} {% comment %} This allows you to put additional sub navs in a top menu{% endcomment %}
        <li class="usa-nav__primary-item">
          <button
            type="button"
            class="usa-accordion__button usa-nav__link {% usa_current item.main-file-path page.inputPath %}"
            aria-expanded="false"
            aria-controls="extended-nav-section-{{ item.text | slugify }}"
          >
            <span>{{ item.text }}</span>
          </button>
          {% assign subitemsSize = item.children.size %}
          {% if item.sub %}
          <div id="extended-nav-section-{{ item.text | slugify }}" class="usa-nav__submenu usa-megamenu">
            <div class="grid-row grid-gap-4">
              {% include "usa-nav__usa-col-subnav.html" item:item %}

              {% for condensedItem in navigation.primary %}
                {% if condensedItem.topnavcondense == item.text %}
                  {% include "usa-nav__usa-col-subnav.html" item:condensedItem %}
                {% endif %}
              {% endfor %}
            </div>
          </div>
          {% elsif subitemsSize > 6 %}
          <div id="extended-nav-section-{{ item.text | slugify }}" class="usa-nav__submenu usa-megamenu">
            <div class="grid-row grid-gap-4">
              <div class="usa-col">
                <ul class="usa-nav__submenu-list">
                {% for index in (1..subitemsSize) %}
                {% assign divthree = forloop.index0 | modulo: 3 %}
                  {% if divthree == 0 and index != subitemsSize and forloop.index0 > 0 %}
                    </ul>
                    </div>
                    <div class="usa-col">
                      <ul class="usa-nav__submenu-list">
                  {% endif%}
                  <li class="usa-nav__submenu-item">
                    {% assign suburl = item.children[forloop.index0].url %}
                    <a href="{% link suburl %}"><span>{{ item.children[forloop.index0].text }}</span></a>
                  </li>
                {% endfor %}
                </ul>
              </div>
            </div>
          </div>
          {% else %} 
            <ul id="extended-nav-section-{{ item.text | slugify }}" class="usa-nav__submenu">
            {% for index in (1..subitemsSize) %}
              {% if item.children[forloop.index0].url %}
                <li class="usa-nav__submenu-item">
                  {% assign suburl = item.children[forloop.index0].url %}
                  <a href="{% link suburl %}"><span>{{ item.children[forloop.index0].text }}</span></a>
                </li>
              {% endif %}
            {% endfor %}
            </ul>
          {% endif %}
        </li>
        {% elsif item.topnavcondense == "false" %}
        <li class="usa-nav__primary-item">
          <a href="{% link item.url %}" class="usa-nav-link"><span>{{ item.text }}</span></a>
        </li>
        {% endif %}
    {% endfor %}
      </div>
      </div>
      </li>
  </ul>