$theme-show-notifications: false;
$theme-global-link-styles: true;
$theme-type-scale-xl: 11;
$theme-body-font-size: "md";
$output-all-utilities: false;
// $theme-font-type-sans: "system";
// $theme-font-role-heading: "sans";
