.layout-table-of-contents {
  ol {
    list-style-type: none;
  }

  p,
  li {
    line-height: 1.33em;
  }

  p {
    max-width: 640px;
    margin: 0 auto;
    margin-bottom: 1em;
  }

  h1 {
    font-size: 28px;
    font-weight: 600;
    padding-top: 1em;
    margin-bottom: 0.4em;
    border-top: 0.2em solid #d8f7ff;
    margin-top: 1em;
    color: #202020;
  }

  li:first-of-type h1 {
    border-top: none;
    margin-top: 0;
  }

  h2 {
    font-size: 24px;
    font-weight: 600;
    margin-top: 1em;
    color: #046b99;
  }

  h3 {
    font-size: 20px;
    font-weight: 600;
    margin: 0 0 0.5em;
  }

  h4 {
    margin: 0;
    font-family: inherit;
    font-size: 17px;
    font-weight: normal;
  }

  .wrapper {
    max-width: 640px;

    ol {
      // left-align
      padding-left: 0;

      li {
        font-weight: normal;
        margin-bottom: 2px;
      }
    }

    // third-level nav
    > ol > li > ol > li > ol {
      @media screen and (min-width: 711.11px) {
        column-count: 2;

        li {
          page-break-inside: avoid;
          break-inside: avoid-column;
        }
      }

      // fourth-level nav
      > li {
        > ol {
          margin: 0.6em 0 1.7em 0;
        }

        // fifth+ level nav
        ol ol {
          margin: 0;
          padding-left: 1rem;
        }
      }
    }
  }
}
