.with-inline-navigation {
  .usa-layout-docs__main,
  main {
    overflow: visible;
  }

  .sticky-side {
    @media screen and (min-width: 895px) {
      position: sticky;
      top: 3rem;
    }
  }

  .usa-sidenav {
    border-left: units('1px') solid color("blue-60");

    li {
      margin-left: units(1);
      font-weight: bold;
    }

    li.sub-child {
      margin-left: units(2);
      font-weight: normal;
    }
  }
}
