.with-inline-navigation {
  .usa-layout-docs__main,
  main {
    position: relative;
    overflow: visible;
  }

  .sticky-side {
    @media screen and (min-width: 895px) {
      position: sticky;
      top: 3rem;
    }
  }

  .usa-sidenav {
    border-left: units('1px') solid color("blue-60");

    li.h3 {
      margin-left: units(1.5);
    }
    ul li.h4 {
      margin-left: units(3);
    }
    ul li.h5 {
      margin-left: units(5);
    }

    li a {
      padding: units(0.5);
      display: block;
      line-height: lh("body", 2);
      text-decoration: none;
      border-radius: radius("sm");
    }

    li a:hover {
      text-decoration: underline;
    }

    li.is-active a {
      background: #297f00;
      color: white;
      text-decoration: none;
    }
  }
}
