---
title: Employment Verification
keywords: letter, employment, verification, verify, verifying, home, purchasing, purchase, mortgage, salary, income
redirect_from:
  - /employment-verification/
---

Providing verification of GSA employment and salary.

## Employment and income verification

GSA employees who need employment and/or income verification should utilize The
Work Number® (TWN) provided by Equifax, available 24 hours a day, 7 days a week.

If an approved party (such as mortgage lenders, property managers, car dealers,
caseworkers, etc) needs to verify your income or employment, they can contact
TWN via the options below:

- [The Work Number website](http://www.theworknumber.com/)
- 800-367-5690 (Monday through Friday, 8:00 AM to 8:00 PM EST)
- Email [member@equifax.com](mailto:member@equifax.com)
- GSA's TWN Employer Code is 10536

For additional information about the TWN program, please refer to the
[TWN Employee Guide [DOCX - 61 KB]](https://www.gsa.gov/cdnstatic/Employee_Guide_to_The_Work_Number_GSA.docx)
or the
[TWN Employee FAQ [DOCX - 38 KB]](https://www.gsa.gov/cdnstatic/Employee_FAQ_GSA.docx).

The information above was sourced from the
[GSA.gov's "The Work Number" page](https://www.gsa.gov/buying-selling/purchasing-programs/shared-services/payroll-shared-services/gsa-and-the-work-number).
