---
---

@import "./usa-overrides";
@import "./nav";

blockquote {
  font-style: italic;
}

a.button[href^="https://gsa-tts.slack.com"]::before {
  display: none;
}

a[href^="https://gsa-tts.slack.com"]::before,
a.button span.slack::before {
  content: "";
  $size: 40px;
  width: $size;
  height: $size;
  display: inline-block;
  vertical-align: middle;
  margin: -3px -7px 0;
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url("../images/Slack_Mark.svg");
}

a.button span.slack {
  font-weight: 600;
  &::before {
    width: 16px;
    height: 16px;
    margin-top: -2px;
    margin-right: 4px;
  }
}

/* Travel Guide Image Toggles */
a.travel-image-link {
  display: block;
  font-size: 95%;
  cursor: pointer;
}

img.travel-guide-hide {
  display: none;
}

@import "./icons";

.page-outdated {
  padding: 4px 0;
  background: #d8f7ff;
  color: #202020;
  text-align: center;
}

/* @group layouts */

@import "./toc";
@import "./inline-nav";
@import "./tock";

/* @group .layout-article-professional-development-and-training */

@media screen and (min-width: 40em) {
  .layout-article-professional-development-and-training table tr td:last-child {
    width: 7em;
  }
}

/* @end */

.col-grouplet {
  width: 100px;
}

/* @group .layout-article-working-groups-and-guilds-101 */

/* @end */

/* @group .layout-article-chicago, .layout-article-san-francisco, .layout-article-washington-dc */

@media screen and (min-width: 40em) {
  .table-office-metadata .col-key {
    width: 100px;
    text-align: right;
    color: #555;
  }
}

/* @end */

/* @end */
