---
---

@import "./usa-overrides";

blockquote {
  font-style: italic;
}

a.button[href^="https://gsa-tts.slack.com"]::before {
  display: none;
}

a[href^="https://gsa-tts.slack.com"]::before,
a.button span.slack::before {
  content: "";
  $size: 40px;
  width: $size;
  height: $size;
  display: inline-block;
  vertical-align: middle;
  margin: -3px -7px 0;
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url("../images/Slack_Mark.svg");
}

a.button span.slack {
  font-weight: 600;
  &::before {
    width: 16px;
    height: 16px;
    margin-top: -2px;
    margin-right: 4px;
  }
}

/* Travel Guide Image Toggles */
a.travel-image-link {
  display: block;
  font-size: 95%;
  cursor: pointer;
}

img.travel-guide-hide {
  display: none;
}

/* @group icomoon */

@font-face {
  font-family: "icomoon";
  src: url("fonts/icomoon.eot?8ojtgr");
  src: url("fonts/icomoon.eot?8ojtgr#iefix") format("embedded-opentype"),
    url("fonts/icomoon.ttf?8ojtgr") format("truetype"),
    url("fonts/icomoon.woff?8ojtgr") format("woff"),
    url("fonts/icomoon.svg?8ojtgr#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pencil:before {
  content: "\e905";
}
.icon-menu:before {
  content: "\e9bd";
}

/* @end */

.page-outdated {
  padding: 4px 0;
  background: #d8f7ff;
  color: #202020;
  text-align: center;
}

/* @group layouts */

/* @group .layout-table-of-contents */

.layout-table-of-contents {
  ol {
    list-style-type: none;
  }

  .wrapper {
    max-width: 640px;
  }

  @keyframes highlight {
    0% {
      background: #fff0be;
    }
    100% {
      background: none;
    }
  }

  *:target {
    animation: highlight 2s;
  }

  p,
  li {
    line-height: 1.33em;
  }

  p {
    max-width: 640px;
    margin: 0 auto;
    margin-bottom: 1em;
  }

  .wrapper ol li.toc-nav-child-with-children {
    font-weight: 600;
    padding-top: 1em;
  }

  .wrapper ol li.toc-nav-child-with-children > ol {
    padding-top: 0.6em;
  }

  .wrapper > ol,
  .toc-nav-children-level-3,
  .toc-nav-children-level-4 {
    // left-align
    padding-left: 0;
  }
}

.toc-nav-children-level-2 {
  padding-top: 1em;
}

.toc-nav-children-level-3 {
  margin: 0;
  padding-top: 0.6em;
}

.toc-nav-children-level-4 {
  margin: 0;
  padding-top: 0.6em;
  padding-bottom: 1em;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid-column;
}

.toc-nav-children-level-5 {
  margin: 0;
  padding-left: 1rem;
}

.toc-nav-children-level-6 {
  padding-left: 1.5rem;
}

.layout-table-of-contents .wrapper ol li.policies {
  padding-bottom: 1em;
}

.layout-table-of-contents .wrapper ol li {
  font-weight: normal;
  margin-bottom: 2px;
}

@media screen and (min-width: 711.11px) {
  .toc-nav-children {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }

  .toc-nav-child-with-children {
    column-span: all;
  }
}

.layout-table-of-contents {
  ol h1 {
    font-size: 28px;
    font-weight: 600;
    padding-top: 1em;
    margin-bottom: 0.4em;
    border-top: 0.2em solid #d8f7ff;
    margin-top: 1em;
    color: #202020;
  }

  ol li:first-of-type h1 {
    border-top: none;
    margin-top: 0;
  }

  ol h2 {
    font-size: 24px;
    font-weight: 600;
    margin-top: 1em;
    color: #046b99;
  }

  ol h3 {
    font-size: 20px;
    font-weight: 600;
    margin: 0 0 0.5em;
  }

  ol h4 {
    margin: 0;
    font-size: 17px;
    font-weight: normal;
  }
}

/* @end */

/* @group .layout-article */

.with-inline-navigation {
  .usa-layout-docs-main_content {
    position: relative;
  }

  .inline-navigation {
    font-size: 16px;
    background: none;
    padding: 16px;
    border: 1px solid #e8e8e8;
    border-radius: 4px;
    margin: 0 auto 1.4em;
    box-shadow: 0 0 0 2px #fafafa;
    width: 90%;

    h1 {
      letter-spacing: 0;
      font-size: 16px;
      margin: 0;
      margin-bottom: 8px;
      text-align: left;
    }

    ul {
      margin: 0 0 -4px 0;
      padding: 0;
    }

    ul li {
      list-style-type: none;
      margin: 0 0 2px -2px;
    }

    ul li.h3 {
      margin-left: 1em;
    }
    ul li.h4 {
      margin-left: 2em;
    }
    ul li.h5 {
      margin-left: 3em;
    }

    li a {
      padding: 4px;
      display: block;
      line-height: 1.2em;
      text-decoration: none;
      border-radius: 3px;
    }

    li a:hover {
      text-decoration: underline;
    }

    li.is-active a {
      background: #297f00;
      color: white;
      text-decoration: none;
    }

    @media screen and (min-width: 895px) {
      position: absolute;
      right: 0;
      width: 256px;
      /*margin-left: -256px;
      left: 288px;
      margin-right: 50vw;
      position: relative;*/
    }

    /*@media screen and (min-width: 817.7777px) {
      margin-left: -352px;
      left: 384px;
    }*/
  }
}

/* @end */

/* @group .layout-article-tock */

@media screen and (min-width: 426.66px) {
  .layout-article-tock img {
    width: 100%;
    max-width: 512px;
    margin-top: 1em;
    border: 1px solid #eee;
    display: block;
  }
}
@media screen and (min-width: 568.88px) {
  .layout-article-tock img {
    width: 45%;
  }
}

@media screen and (min-width: 711.11px) {
  .layout-article-tock img {
    width: 56%;
  }
}

@media screen and (min-width: 746.66px) {
  .layout-article-tock img {
    width: 56%;
  }
}

@media screen and (min-width: 853.33px) {
  .layout-article-tock img {
    width: 66%;
  }
}

/* @end */

/* @group .layout-article-professional-development-and-training */

@media screen and (min-width: 40em) {
  .layout-article-professional-development-and-training table tr td:last-child {
    width: 7em;
  }
}

/* @end */

.col-grouplet {
  width: 100px;
}

/* @group .layout-article-working-groups-and-guilds-101 */

/* @end */

/* @group .layout-article-chicago, .layout-article-san-francisco, .layout-article-washington-dc */

@media screen and (min-width: 40em) {
  .table-office-metadata .col-key {
    width: 100px;
    text-align: right;
    color: #555;
  }
}

/* @end */

/* @end */
