<!-- We don't want to use NetlifyCMS for the index page because it doesn't make
sense. If we're on that page, use the default github-edit functionality.-->
{% if include.path == '_pages/index.html' %}
{% assign github_info = site.github_info | default: site.github %}
{% assign edit_link_text = include.footer.edit_page.text | default: 'Edit this page' %}
<small><a href="https://github.com/{{ github_info.organization }}/{{ github_info.repository }}/edit/{{ github_info.default_branch }}/{{ include.path }}" class="usa-sidenav-edit" target="_blank">{{ edit_link_text }}</a></small>
{% else %}
<!-- Otherwise, we'll be using NetlifyCMS. We need to filter on the right
collection, however. Nearly all the pages will be under the `_pages`
collections, but there are a few pages who'll be in the `other` collection. -->
{% assign
edit_link_text = include.footer.edit_page.text | default: 'Edit this page' %}
{% if include.path == 'CONTRIBUTING.md' %}
{% assign collection = 'other' %}
{% else %}
{% assign collection = '_pages' %}
{% endif %}
<small
  ><a
    href="{{site.baseurl}}/admin/#/collections/{{collection}}/entries/{{
    include.path | downcase | remove: "_pages/" | remove: ".md" }}"
    class="usa-sidenav-edit"
    target="_blank"
    >{{ edit_link_text }}</a
  ></small
>
{% endif %}
