---
layout: page
---

{% include page-outdated.html %} 

{% if page.travel_advisory %} 
{% include travel-alert.html %} 
{% endif %} 

{{ content | smartify }} {% if page.questions %}

<h2 id="questions">Questions?</h2>
<ul>
  {% for contact in page.questions %}
  <li>
    {% if contact contains "@" %}
    <a href="mailto:{{contact}}">{{contact}}</a>
    {% elsif contact.text %}
    <a href="{{contact.url}}">{{contact.text}}</a>
    {% else %}
    <a href="https://gsa-tts.slack.com/channels/{{contact}}/">#{{contact}}</a>
    {% endif %}
  </li>
  {% endfor %}
</ul>
{% endif %}
