---
layout: layouts/base
---

{% comment %}
This is the primary layout. It is separated out in the event that we eventually
want other kinds of pages with the same base setup (banner, header, search,
footer, etc.).
{% endcomment %}

{% if page.inputPath == './pages/index.html' %} 
  <main id="main-content" class="usa-prose usa-prose__home">
{% else %}
  {% assign words = content | split: " "%}
  {{ words.size }}
  {% if words.size > site.inpagenavwordcount %}
  <aside
  class="usa-in-page-nav"
  data-title-text="On this page"
  data-title-heading-level="h3"
  data-scroll-offset="0"
  data-root-margin="0px 0px 0px 0px"
  data-threshold="1"
  ></aside>
  {% endif %}
  <main id="main-content" class="usa-prose test">
{% endif %}

  {% if title %}
    <h1 data-page-title>{{ title }}</h1>
  {% endif %}

  {% include "page-outdated.html" %}

  {% if travel_advisory %}
    {% include "travel-alert.html" %}
  {% endif %}

  {{ content }}
</main>
